{% extends 'dummy.html' %}
{% load static %}
{% block title %}
<title>Add Patient</title>
{% endblock %}

{% block body %}
<div class="container"> 
    <br>
    {% if messages %}
        {% for messages in messages %}
            <div class=" alert alert-info alert-dismissable fade show " role="alert">
                {{ messages }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container" style="margin-top: 50px">
    <h2 class="text-center">Add Patient</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="pname">Pname:</label>
        {{ pfo.pname }}
        <br><br>
    
        <!-- Render Gender with inline radio buttons -->
        <label for="gender">Gender:</label>
        <div>
            {% for radio in pfo.gender %}
                <div style="display: inline-block; margin-right: 10px;">
                    {{ radio.tag }} {{ radio.choice_label }}
                </div>
            {% endfor %}
        </div>
        <br><br>
    
        <!-- Render Pmobile -->
        <label for="pmobile">Pmobile:</label>
        {{ pfo.pmobile }}
        <br><br>
    
        <!-- Render Address -->
        <label for="address">Address:</label>
        {{ pfo.address }}
        <br><br>
    
        <!-- Render Fees -->
        <label for="fees">Fees:</label>
        {{ pfo.fees }}
        <br><br>
    
        <!-- Render Paid -->
        <label for="paid">Paid:</label>
        {{ pfo.paid }}
        <br><br>
    
        <!-- Render Balance -->
        <label for="balance">Balance:</label>
        {{ pfo.balance }}
        <br><br>
    
        <!-- Render Pay -->
        <label for="pay">Pay:</label>
        {{ pfo.pay }}
        <br><br>
    
        <!-- Render Discharge -->
        <label for="discharge">Discharge:</label>
        {{ pfo.discharge }}
        <br><br>
            <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully')
    window.location=('{% url "view_patient" %}')

</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, try again')
</script>
{% endif %}
{% endblock %}