{% extends 'dummy.html' %}
{% load static %}
{% block title %}
<title>Add Patient</title>
{% endblock %}

{% block body %}
<div class="container"> 
    <br>
    {% if messages %}
        {% for messages in messages %}
            <div class=" alert alert-info alert-dismissable fade show " role="alert">
                {{ messages }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container" style="margin-top: 50px">
    <h2 class="text-center">Add Patient</h2>

    <form action="" method="POST">
        {% csrf_token %}
        
        
        <label for="pname">Name:</label>
        <input type="text" id="pname" name="pname" value="{{ request.POST.pname }}" class="form-control"><br><br>
        
        
        <label >Gender</label>
            <input type="radio" name="gender" id="g" value="Male" required>Male
            <input type="radio" name="gender" value="Female">Female<br><br>
        
        <label for="pmobile">Mobile:</label>
        <input type="number" id="pmobile" name="pmobile" value="{{ request.POST.pmobile }}" class="form-control"><br><br>
        
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="{{ request.POST.address }}" class="form-control"><br><br>
        
        <label for="fees">Fees:</label>
        <input type="number" id="fees" name="fees" value="{{ request.POST.fees }}" class="form-control"><br><br>
        
        <label for="paid">Paid:</label>
        <input type="number" id="paid" name="paid" value="{{ request.POST.paid }}" class="form-control"><br><br>
        
        <label for="balance">Balance:</label>
        <input type="number" id="balance" name="balance" value="{{ request.POST.balance }}" class="form-control"><br><br>
        
        <label for="pay">Pay:</label>
        <input type="number" id="pay" name="pay" value="{{ request.POST.pay }}" class="form-control"><br><br>
        
        <label for="discharge">Discharge:</label>
        <input type="checkbox" id="discharge" name="discharge" {% if request.POST.discharge %}checked{% endif %}><br><br>


            <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully')
    window.location=('{% url "view_patient" %}')

</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, try again')
</script>
{% endif %}
{% endblock %}