{% extends 'dummy.html' %}
{% load static %}
{% block title %}
<title>Add Doctor</title>
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px">
    <h2 class="text-center">Create Doctor</h2>

    <form action="" method="POST">
        {% csrf_token %}
            <label  >Doctor Name</label>
            <input type="text" name="an" id="an" class="form-control" required><br><br>

            <label >Contact</label>
            <input type="text" name="co" id="co" class="form-control" required><br><br>

            <label >Gender</label>
            <input type="radio" name="g" id="g" value="Male" required>Male
            <input type="radio" name="g" value="Female">Female<br><br>

            <label >Specialization</label>
            <input type="text" name="sc" id="sc" class="form-control"  required><br><br>

            <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Saved Successfully')
    window.location=('{% url "view_doctor" %}')

</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, try again')
</script>
{% endif %}
{% endblock %}