{% extends 'dummy.html' %}

{% block title %}
<title>Contact</title>
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px ;">
    <h2 class="text-center">CONTACT US </h2>

    <div class="row mt-5 text-center">

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <div class="div1">
                <h4 ><span class="material-symbols-outlined">
                    call
                </span>Contact</h4>
                <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+91 1234567890">+91 1234567890</a></p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <div class="div1">
                <h4 ><span class="material-symbols-outlined">
                    mail
                    </span>Mail Id</h4>
                <p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto:gurukanth121@gmail.com">gurukanth121@gmail.com</a></p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <div class="div1">
                <h4 ><span class="material-symbols-outlined">
                    info
                    </span>Office Address</h4>
                <p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Proddatur">Proddatur</a></p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 mydivstyle">
            <div class="div1">
                <h4 ><span class="material-symbols-outlined">
                    timer
                    </span>Office Timings</h4>
                <p class="mt-3 font-weight-bold text-danger">9:00 AM to 7:00 PM</p>
            </div>

        </div>
        
    </div>


</div>



{% endblock %}